// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  h1 {
    text-align: center;
  }
}

.blogs {
  height: 82vh;
  overflow: auto;
  .card {
    opacity: 0;
    transition: 2s;
  }
  .card:hover {
    opacity: 1;
  }
}

.new-blog {
  margin-bottom: 5px;
}

.card-footer {
  a {
    float: right;
  }
}

