// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  display: block;
  margin-right: 0;
  padding-right: 0;
  border-right: 0px;
  .card-body, .card-header, .card-footer {
    padding-right: 0;
  }
}
