%h1= t("pages.title.edit category")

= render 'form'

= link_to t('buttons.actions.show'), @category, class: "btn btn-primary"
= link_to t('buttons.actions.back'), categories_path, class: "btn btn-secondary"
