<% if locals.errors.any? %>
  <% locals.errors.details.keys.each do |attribute| %>
    <li class="alert alert-danger"><%= locals.errors.full_messages_for(attribute).first %></li>
  <% end %>
<% end %>
