<div>
  <div class="lang-select">
  <%= form_with url: update_language_path, method: "patch" do |form| %>
    <%= form.select :language, languages.map {|id, language| [language, id] }, { selected: cookies.permanent[:language] }, { class: "custom-select" } %>
    <%= form.submit t("buttons.actions.change_language"), class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
